@font-face {
  font-family: "Arcade Classic";
  src: url("fonts/arcade_classic_2/ARCADECLASSIC.TTF");
}
* {
  box-sizing: border-box;
}
html, body {height: 100% !important;}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(150, 224, 115);
  font-family: "Arcade Classic";
}
header {
  display: flex;
  justify-content:space-around;
  background-color: rgb(131, 196, 101);
  padding: 1em 0 1em 0;
  height: 70px;
}
#about {
  background-color: rgb(180, 202, 142);
  padding: 2em 6em 1em 6em;
  min-height: 600px;
}
h2 {
  color:green;
  font-size: 48px;
  text-align: left;
  margin: 10px 0 10px 0;
}
code {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  background-color: rgb(193, 214, 157);
  border-color: rgb(201, 243, 127);
}
hr {
  border-color: rgb(201, 243, 127);
}
p {
  color: darkgreen;
  text-align: justify;
  font-size: 28px;
  padding: 2em 6em 2em 6em;
  font-family: 'Courier New', Courier, monospace;
}
#header-text{
  color: green;
  font-weight: bolder;
  font-size: 48px;
}
#result {
  position:relative;
}
nav{
  display: flex;
  justify-content: center;
}
main {
  display: block;
  text-align: center;
  height: auto;
  margin:auto;
}
#gameboard {
  width: 1000px;
  min-width:fit-content;
  display: block;
  align-items: center;
  flex-wrap: wrap;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  border-width: 2px;
  border-color: rgb(101, 151, 78);
  margin: 120px auto 120px auto;
}
#game-options{
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-color: inherit;
  border-width: inherit;
  background-color: rgb(126, 187, 98);
  border-radius: 5px 5px 0px 0px;
  height: 50px;
  padding: 10px 15px 10px 15px;
}

ul {
  margin:0%;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  display:flex;
  list-style: none;
  justify-content:space-around;
  text-transform: uppercase;
}
li {
  margin: auto;
}
li a {
  text-decoration: none;
  color:whitesmoke;
  font-weight: lighter;
}
li a:hover {
  text-decoration:underline;
}

.options-div .figures-div{
  display: flex;
  height: 200px;
  justify-content: center;
  justify-content: space-evenly;
}

.options-div h2{
  text-align: center;
  color:darkolivegreen;
  font-size: 32px;
}
#result-div{
  min-height: 90px;
  font-size: 65px;
  color:rgb(63, 80, 35);
}

#player-choices-div .figures-div{
  margin-top:50px;
}
#computer-choice-div .figures-div{
  margin-bottom: 50px;
}
@keyframes moveUp {
  0%   {bottom:0px;}
  10% {bottom:70px;}
  100%{bottom:70x;}
}
@keyframes moveDown {
  0%   {top:0px;}
  10% {top:20px;}
  100%{top:20x;}
  
}
.computerChoiceAnimated {
  transform: rotate(180deg) !important;
  position: relative;
  -webkit-animation: moveDown 5s 1  normal ease-out;
  animation-name: moveDown;
  animation-duration: 5s;
}
.playerChoiceAnimated {
  position: relative;
  -webkit-animation: moveUp 5s 1  normal ease-out;
  animation-name: moveUp;
  animation-duration: 5s;
}
figure{
  width: 160px;
  color:green;
  text-align: center;
  margin-bottom: 0;
}
figcaption{
  display: none;
  margin:5px;
  font-size: large;
  text-transform: uppercase;
}
figure img {
  width: 110px;
  opacity: 0.5;
}
.computer-choice img{
  transform: rotate(180deg) !important;
}
.player-choice img:hover {
  cursor:pointer !important;
  width: 115px !important;
  opacity: 1 !important;
}
.player-choice img:hover + figcaption{
  display: block;
}
.disabled-option figcaption {
  display: none;
}

.score-span{
  color:darkolivegreen;
  font-weight: bold;
  align-content: center;
  text-align: center;
  font-size: 24px;
}
.game-buttons{
  width:100px;
  border-width: 1px;
  border-radius: 5px 5px 5px 5px;
}
#restart-button{
  color:white;
  background-color: inherit;
  border-style:none;
}
#restart-button:hover{
  cursor: pointer;
  border-style: solid;
  border-color: rgb(191, 216, 148);
}
#quit-button{
  display: block;
  background-color:inherit;
  border-style: none;
}
#round-span{
  text-transform: uppercase;
  font-weight: bold;
  color:darkgreen;
  font-size: 24px;
}
.score {
  font-weight: lighter;
}
footer{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0%;
  margin-top: 20px;
  color:darkolivegreen;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer a {
  color:inherit;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top:6px;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  font-size: 32px;
  height: 80px;
}
i:hover {
  cursor: pointer;
  color: darkgreen;
}